@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body{
    margin: 0px;
    height: 100%;
    font-family: 'Langar', cursive;
    /

}

.bg-img{
    background-image: url("/images/minion.jpg");


  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head{
    background-color: rgba(255, 230, 0, 0.877);
    text-align: center;
    font-size: 2rem;


}

.txtout{
    padding:1rem;
    text-align: center;
    
    
}

::placeholder{
    color:rgb(99, 99, 99);
    opacity: 0.6;
}
.txt-input{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Langar', cursive;
    width: 50%;
    display: block;
    /* margin: 1rem; */
    padding:  1rem;
    min-height: 20vh;
    resize: vertical;
    color: rgb(196, 0, 137);
    background-color: rgba(224, 202, 1, 0.781);

    font-size: 1.5rem;
    
    border-color: rgb(1, 133, 133);
    border-style: ridge;
    border-width: 2px;
    

}

/* .div-btn-trans{
    margin: 1rem;
    color: yellow;
   
} */
button{
    color: rgb(248, 252, 19);
    font-size: 2rem;
    opacity: 0.87;
    background-color: #004eeb;
background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    margin: 1rem;
}

.output{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    /* margin: 1rem; */
    padding: 1rem;
    min-height: 20vh;
    resize: vertical;
    background: transparent;
    color: rgb(196, 0, 137);
    background-color: rgba(224, 202, 1, 0.781);
    border-color: rgb(1, 133, 133);
    border-style: ridge;
    border-width: 2px;
    font-size: 1.5rem;
}

.footer{
    background:rgb(0, 0, 0);
    color: rgba(255, 230, 0, 0.877);
    position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;

    
}

.footer .footer-head{
    padding: 1.5rem;
}